[flake8]
max-line-length = 88
ignore = D100,D104,W503
extend-ignore = E203
per-file-ignores = tests/*:DAR,S101,S106,E800
exclude = .git,.mypy_cache,.pytest_cache,__pycache__,.venv,tests/*
extend-immutable-calls = Body, fastapi.Body, fastapi.params.Body, Depends, fastapi.Depends, fastapi.params.Depends
